body {
    background-image: url("42fab6b4-d0bf-4ca0-bd90-27ccf8f0f3a9.jpg");
  }
.textbox {
    margin-top: 80px;
    margin-left: 300px;
    text-align: center;
    font-size: 21.5px;
    width: 400px; height: 450px;
    border-color: black;
    border: solid 10px;
    background-color: snow;
}
h1 {
    border: solid 10px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: wheat;
    text-align: center;
    color: white;
    text-shadow:-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }